<% if @topic2.question == 3 %>
    <h1>よっしゃ頑張りましょう！</h1>
    <%= image_tag 'yaruki_moeru_man.png' %>
    <div>思い立ったが吉日！行ける時には行ってしまいましょう！</div>
    <%= link_to "もう一回やる", new_topic_path %>
<% end %>

<% if @topic2.question == 4 %>
        <p>Q3.ちょっと疲れていますか？</p>
        <%= image_tag 'neochi_smartphone_woman.png' %>
        <div>
       <%= link_to "疲れている" , "/topic3s/result" %>
       <%= link_to "気分が乗らないだけ" , "/topic3s/result2" %>
       <p>最後の質問です</p>
       </div>
<% end %>

<% if @topic2.question == 5 %>
    <h1>楽しんでってください！</h1>
    <%= image_tag 'idol_fan_penlight_men.png' %>
    <div>楽しむ時は楽しんでリフレッシュするのも大事ですね！</div>
    <%= link_to "もう一回やる", new_topic_path %>
<% end %>

<% if @topic2.question == 6 %>
   <h1>いつもお疲れ様です！</h1>
   <%= image_tag 'kaisya_man.png' %>
   <div>あまり無理し過ぎず……！</div>
   <%= link_to "もう一回やる", new_topic_path %>
<% end %>